.overlay__background {
  background-color: rgba(1, 4, 31, 0.8);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.overlay__container {
  display: flex;
  flex-direction: column;
  background-color: rgba(1, 4, 31, 1);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 10;
  padding: 30px;
  width: fit-content;
  height: fit-content;
  border-radius: 15px;
}

.overlay__controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cancel-btn {
  flex: 1;
  padding-top: 1.3vh;
  padding-bottom: 1.3vh;
}
